<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.iscas.dao.CommentsMapper">
    <resultMap id="BaseResultMap" type="cn.ac.iscas.entity.Comments">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title_id" jdbcType="INTEGER" property="titleId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="tid" jdbcType="INTEGER" property="tid"/>
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, title_id, content, uid, tid, comment_time
    </sql>
    <select id="selectCommentById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comments
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectCommentsByTitleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comments
        where title_id = #{titleId,jdbcType=INTEGER}
    </select>

    <delete id="deleteCommentById" parameterType="java.lang.Integer">
    delete from comments
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="addComment" parameterType="cn.ac.iscas.entity.Comments">
        insert into comments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="titleId != null">
                title_id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="tid != null">
                tid,
            </if>
            <if test="commentTime != null">
                comment_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="titleId != null">
                #{titleId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="tid != null">
                #{tid,jdbcType=INTEGER},
            </if>
            <if test="commentTime != null">
                #{commentTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.ac.iscas.entity.Comments">
        update comments
        <set>
            <if test="titleId != null">
                title_id = #{titleId,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="tid != null">
                tid = #{tid,jdbcType=INTEGER},
            </if>
            <if test="commentTime != null">
                comment_time = #{commentTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.ac.iscas.entity.Comments">
    update comments
    set title_id = #{titleId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      comment_time = #{commentTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>