<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.iscas.dao.GroupMapper">
    <resultMap id="BaseResultMap" type="cn.ac.iscas.entity.Group">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="tag_id" property="tagId" jdbcType="INTEGER"/>
        <result column="teacher_id" property="teacherId" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
        <result column="student" property="student" jdbcType="VARCHAR"/>
        <result column="teacher" property="teacher" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, tag_id, teacher_id, parent_id, tag, student, teacher
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from `group`
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByTagId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from `group`
        where tag_id = #{tagId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByTagId" parameterType="java.lang.Integer">
    delete from `group`
    where tag_id  = #{tagId,jdbcType=INTEGER}
  </delete>


    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from `group`
    where tag_id  = #{tagId,jdbcType=INTEGER}
  </delete>


    <insert id="insert" parameterType="cn.ac.iscas.entity.Group">
    insert into group (id, tag_id, teacher_id, 
      parent_id, tag, student, 
      teacher)
    values (#{id,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER}, 
      #{parentId,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, #{student,jdbcType=VARCHAR}, 
      #{teacher,jdbcType=VARCHAR})
  </insert>

    <insert id="addGroup" parameterType="cn.ac.iscas.entity.Group">
        insert into `group`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tagId != null">
                tag_id,
            </if>
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="tag != null">
                tag,
            </if>
            <if test="student != null">
                student,
            </if>
            <if test="teacher != null">
                teacher,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tagId != null">
                #{tagId,jdbcType=INTEGER},
            </if>
            <if test="teacherId != null">
                #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="tag != null">
                #{tag,jdbcType=VARCHAR},
            </if>
            <if test="student != null">
                #{student,jdbcType=VARCHAR},
            </if>
            <if test="teacher != null">
                #{teacher,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


</mapper>