<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ac.iscas.dao.GuardianshipMapper">
    <resultMap id="BaseResultMap" type="cn.ac.iscas.entity.Guardianship">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent" jdbcType="VARCHAR" property="parent"/>
        <result column="student" jdbcType="VARCHAR" property="student"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, parent_id, parent, student
  </sql>

    <select id="selectKidByParentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from guardianship
        where parent_id = #{parentId,jdbcType=INTEGER}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from guardianship
    where id = #{id,jdbcType=INTEGER}
  </delete>


    <insert id="insert" parameterType="cn.ac.iscas.entity.Guardianship">
    insert into parent (id, parent, student
      )
    values (#{id,jdbcType=INTEGER}, #{parent,jdbcType=VARCHAR}, #{student,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="addGuardianship" parameterType="cn.ac.iscas.entity.Guardianship">
        insert into guardianship
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parent_id != null">
                parent_id,
            </if>
            <if test="parent != null">
                parent,
            </if>
            <if test="student != null">
                student,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="parent_id != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="parent != null">
                #{parent,jdbcType=VARCHAR},
            </if>
            <if test="student != null">
                #{student,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <update id="updateByPrimaryKeySelective" parameterType="cn.ac.iscas.entity.Guardianship">
        update guardianship
        <set>
            <if test="parent != null">
                parent = #{parent,jdbcType=VARCHAR},
            </if>
            <if test="student != null">
                student = #{student,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


</mapper>