<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ac.iscas.dao.TagMapper">
    <resultMap id="BaseResultMap" type="cn.ac.iscas.entity.Tag">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
        <result column="teacher" property="teacher" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="addTag" parameterType="cn.ac.iscas.entity.Tag">
    insert into tag (id, tag, teacher
      )
    values (#{id,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, #{teacher,jdbcType=INTEGER}
      )
  </insert>
    <select id="selectTagByTeacher" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from tag
    where teacher = #{teacher, jdbcType=INTEGER}
  </select>

    <select id="selectTagById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from tag
    where id = #{id, jdbcType=INTEGER}
  </select>


    <select id="selectTagByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from tag
    where tag = #{tag, jdbcType=VARCHAR}
  </select>


    <delete id="deleteTagById" parameterType="java.lang.Integer">
    delete from tag
    where id = #{id,jdbcType=INTEGER}
  </delete>

</mapper>